.word-received{
    color:#3f51b5;
}
.event{
    color:#4caf50;
}
#chatLog{
    height: 340px;
}
h1 .name{
    color:#714bb5;
}
.greeting{
    text-align: center;
    padding: 60px 0px;
}
.greeting p{
    font-size: 21px;
}
.login-group{
    padding: 20px 20px;
}
.input-group-btn:last-child>.dropdown-toggle:first-child{
    border-radius: 0px;
}
.input-group-btn .dropdown-menu{
    min-width: 250px;
}
.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}
